:host {
  display: block;
  padding: 1em;
  margin: 0.5em;
  background: orange;
}

::slotted(*) {
  color: purple;
}

.sidebar {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
}

label {
  font-size: var(--label-size);
}
